<form action='/names' method='post'>
  <label>Enter name for Player 1</label>
  <input type='text' name='name1'>
  <br></br>
  <label>Enter name for Player 2</label>
  <input type='text' name='name2'>
  <br></br>
  <input type='submit' value='Submit'>
</form>